<!-- Header Start -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
              </a>
              
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a href="http://en.grenoble-em.com/" class="navbar-brand pull-right hidden-lg hidden-md hidden-sm">
                <img src="{{ site.baseurl }}/img/gem.png" alt="Gem">
              </a>
            </div>
            
            <a class="navbar-brand pull-right hidden-xs" href="http://en.grenoble-em.com/about-doctoral-school">
              <img src="{{ site.baseurl }}/img/gem.png" alt="Gem">
            </a>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}/" id="nav1">The Game</a></li>
                <li><a href="{{ site.baseurl }}/method" id="nav2">Design Method</a></li>
                <li><a href="{{ site.baseurl }}/blog" id="nav3">Blog</a></li>
                <li><a href="{{ site.baseurl }}/about" id="nav4">About Us</a></li>
                <li><a href="{{ site.baseurl }}/license" id="nav5">License</a></li>
                <li><a href="http://sg.itysoft.com/" id="nav6"><i class="fa fa-play" aria-hidden="true"></i>&nbsp; Play</a></button></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
